<div class="login-container">
  <mat-card class="login-card">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario" placeholder="Ingresa tu usuario">
        <mat-error *ngIf="loginForm.get('usuario')?.hasError('required')">
          El usuario es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Ingresa tu contraseña">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Entrar
      </button>
    </form>
  </mat-card>
</div>
