<h2>Centro de Soporte</h2>

<form (ngSubmit)="enviarTicket()" #formTicket="ngForm" class="soporte-form">
  <mat-form-field appearance="outline">
    <mat-label>Asunto</mat-label>
    <input matInput [(ngModel)]="asunto" name="asunto" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      rows="4"
      [(ngModel)]="descripcion"
      name="descripcion"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Prioridad</mat-label>
    <mat-select [(ngModel)]="prioridad" name="prioridad" required>
      <mat-option value="alta">Alta</mat-option>
      <mat-option value="baja">Media</mat-option>
      <mat-option value="baja">Baja</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo de Solicitud</mat-label>
    <mat-select [(ngModel)]="tipo" name="tipo" required>
      <mat-option value="general">General</mat-option>
      <mat-option value="incidencia">Incidencia</mat-option>
      <mat-option value="queja">Queja</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!formTicket.valid">
    Enviar Ticket
  </button>
</form>
